<form ng-submit="vm.submit()" class="ForgotPassword-form" name="vm.forgotPasswordForm" novalidate>
  <div class="callout callout-danger" ng-if="vm.errorTrigger">
    <h4>Error:</h4>
    <p>Comprueba tu correo electrónico y vuelve a intentarlo.</p>
  </div>
  <div class="form-group has-feedback" ng-class="{ 'has-error': (vm.forgotPasswordForm.email.$invalid || vm.serverError) && ( vm.formSubmitted || vm.forgotPasswordForm.email.$touched) }">
    <input type="email" class="form-control" placeholder="Please enter your email address" name="email" ng-model="vm.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    <p ng-show="vm.forgotPasswordForm.email.$error.email  && ( vm.formSubmitted || vm.forgotPasswordForm.email.$touched)" class="help-block">Este correo no es válido</p>
    <p ng-show="vm.forgotPasswordForm.email.$error.required && ( vm.formSubmitted || vm.forgotPasswordForm.email.$touched)" class="help-block">Correo electronico es requerido.</p>
    <p ng-show='vm.serverError' class="help-block">{{ vm.serverError }}</p>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary btn-block btn-flat">
        Enviar
      </button>
    </div>
  </div>
</form>
