<div class="login-box">
  <div class="login-logo">
    <a ui-sref="login"><b>GB</b>LTE</a>
  </div>
  <div class="login-box-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center">
          <h3>Iniciar Sesión</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <login-form></login-form>
      </div>
    </div>
  </div>
</div>
