<section class="content-header">
	<h1>Doctores<small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.doctor-lists">Lista de Doctores</a></li>
		<li class="active">Nuevo Doctor</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Nuevo Doctor</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
							<label for="inputEmail3" class="col-sm-4 control-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.rs.data.name" name="name" placeholder="Nombre" required>
								<p ng-show="uiForm.name.$error.required && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.hospital.$invalid && ( vm.formSubmitted || uiForm.hospital.$touched) }">
							<label for="input" class="col-sm-4 control-label">Hospital</label>
							<div class="col-sm-8">
								<select class="form-control" name="hospital" ng-model="vm.rs.data.hospital" ng-options="hospital as hospital.name for hospital in vm.slHospitals track by hospital.id">
									<option value="">Seleccionar</option>
								</select>
								<p ng-show="uiForm.hospital.$error.required && ( vm.formSubmitted || uiForm.hospital.$touched)" class="help-block">El hospital es requerido.</p>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.doctor-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
