<section class="content-header">
	<h1>Mensajeros <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.messenger-lists">Listas de Mensajeros</a></li>
		<li class="active">Agregar nuevo</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Agregar nuevo</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
							<label for="input" class="col-sm-4 control-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.rs.data.name" name="name" placeholder="Nombre.." required>
								<p ng-show="uiForm.name.$error.required && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.type.$invalid && ( vm.formSubmitted || uiForm.type.$touched) }">
							<label for="input" class="col-sm-4 control-label">Tipo</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="vm.rs.data.type" name="type" required>
									<option value="general">General</option>
								</select>
								<p ng-show="uiForm.type.$error.required && ( vm.formSubmitted || uiForm.type.$touched)" class="help-block">El tipo es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.dni_type.$invalid && ( vm.formSubmitted || uiForm.dni_type.$touched) }">
							<label for="input" class="col-sm-4 control-label">Tipo de Identificacion</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="vm.rs.data.dni_type" name="dni_type" required>
									<option value="dni">Cedula</option>
									<option value="rcu">Ruc</option>
									<option value="ppt">Passporte</option>
								</select>
								<p ng-show="uiForm.dni_type.$error.required && ( vm.formSubmitted || uiForm.dni_type.$touched)" class="help-block">El tipo de identificacion es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.dni.$invalid && ( vm.formSubmitted || uiForm.dni.$touched) }">
							<label for="input" class="col-sm-4 control-label">Identificacion</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.rs.data.dni" name="dni" placeholder="Identificacion.." required>
								<p ng-show="uiForm.dni.$error.required && ( vm.formSubmitted || uiForm.dni.$touched)" class="help-block">El identificacion es requerido.</p>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.messenger-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
