<section class="content-header">
	<h1>Empleado <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.employee-lists">Listas de Empleado</a></li>
		<li class="active">Agregar nuevo</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Agregar nuevo</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.first_name.$invalid && ( vm.formSubmitted || uiForm.first_name.$touched) }">
							<label for="inputEmail3" class="col-sm-2 control-label">Nombre</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="vm.first_name" name="first_name" placeholder="Nombre.." required>
								<p ng-show="uiForm.first_name.$error.required && ( vm.formSubmitted || uiForm.first_name.$touched)" class="help-block">
									El nombre es requerido.
								</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
							<label for="inputEmail3" class="col-sm-2 control-label">Apellido</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" ng-model="vm.last_name" name="last_name" placeholder="Apellido.." required>
								<p ng-show="uiForm.last_name.$error.required && ( vm.formSubmitted || uiForm.last_name.$touched)" class="help-block">
									El apellido es requerido.
								</p>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.employee-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Agregar nuevo</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
