<section class="content-header">
	<h1>Venta <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.sale-lists">Listas de ventas</a></li>
		<li class="active">Agregar nuevo</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Agregar nuevo</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.policy_number.$invalid && ( vm.formSubmitted || uiForm.policy_number.$touched) }">
							<label for="input" class="col-sm-4 control-label">Numero de la Póliza</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.policy_number" name="policy_number" placeholder="Numero de la Póliza.." required>
								<p ng-show="uiForm.policy_number.$error.required && ( vm.formSubmitted || uiForm.policy_number.$touched)" class="help-block">El numero de la póliza es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.sale_type_id.$invalid && ( vm.formSubmitted || uiForm.sale_type_id.$touched) }">
							<label for="input" class="col-sm-4 control-label">Tipo de Venta</label>
							<div class="col-sm-8">
								<select class="form-control" name="sale_type_id" ng-model="vm.sale_type_id">
									<option value="">Seleccionar</option>
									<option value="1">Nueva Venta</option>
									<option value="2">Renovacion</option>
								</select>
								<p ng-show="uiForm.company_id.$error.required && ( vm.formSubmitted || uiForm.company_id.$touched)" class="help-block">El tipo de vendedor es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.company.$invalid && ( vm.formSubmitted || uiForm.company.$touched) }">
							<label for="input" class="col-sm-4 control-label">Compañia</label>
							<div class="col-sm-8">
								<select class="form-control" name="company" ng-model="vm.company" ng-options="company as company.name for company in vm.slCompanies track by company.id">
									<option value="">Seleccionar</option>
								</select>
								<p ng-show="uiForm.company.$error.required && ( vm.formSubmitted || uiForm.company.$touched)" class="help-block">La Compañia es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.seller.$invalid && ( vm.formSubmitted || uiForm.seller.$touched) }">
							<label for="input" class="col-sm-4 control-label">Vendedor</label>
							<div class="col-sm-8">
								<select class="form-control" name="seller" ng-model="vm.seller" ng-options="seller as seller.name for seller in vm.slSellers track by seller.id">
									<option value="">Seleccionar</option>
								</select>
								<p ng-show="uiForm.seller.$error.required && ( vm.formSubmitted || uiForm.seller.$touched)" class="help-block">El Vendedor es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.total_amount.$invalid && ( vm.formSubmitted || uiForm.total_amount.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Cantidad</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.total_amount" name="total_amount" placeholder="Cantidad" required>
								<p ng-show="uiForm.total_amount.$error.required && ( vm.formSubmitted || uiForm.total_amount.$touched)" class="help-block">La cantidad es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.sale_date.$invalid && ( vm.formSubmitted || uiForm.sale_date.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Fecha de venta</label>
							<div class="col-sm-8">
								<input type="date" data-date-format="yyyy-mm-dd" class="form-control" ng-model="vm.sale_date" name="sale_date" required>
								<p ng-show="uiForm.sale_date.$error.required && ( vm.formSubmitted || uiForm.sale_date.$touched)" class="help-block">La fecha de venta es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.payment_date.$invalid && ( vm.formSubmitted || uiForm.payment_date.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Fecha de pago</label>
							<div class="col-sm-8">
								<input type="date" data-date-format="yyyy-mm-dd" class="form-control" ng-model="vm.payment_date" name="payment_date" required>
								<p ng-show="uiForm.payment_date.$error.required && ( vm.formSubmitted || uiForm.payment_date.$touched)" class="help-block">La fecha de pago es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.confirmation_date.$invalid && ( vm.formSubmitted || uiForm.confirmation_date.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Fecha de confirmación</label>
							<div class="col-sm-8">
								<input type="date" data-date-format="yyyy-mm-dd" class="form-control" ng-model="vm.confirmation_date" name="confirmation_date" required>
								<p ng-show="uiForm.confirmation_date.$error.required && ( vm.formSubmitted || uiForm.confirmation_date.$touched)" class="help-block">La fecha de pago es requerido.</p>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.sale-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Agregar nuevo</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
