<section class="content-header">
	<h1>Agregar Vendedor <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.seller-lists">Listas de vendedores</a></li>
		<li class="active">Agregar Vendedor</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Agregar Vendedor</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.company.$invalid && ( vm.formSubmitted || uiForm.company.$touched) }">
									<label for="input" class="col-sm-4 control-label">Compañia</label>
									<div class="col-sm-8">
										<select class="form-control" name="company" ng-model="vm.company" ng-options="company as company.name for company in vm.slCompanies track by company.id">
											<option value="">Seleccionar</option>
										</select>
										<p ng-show="uiForm.company.$error.required && ( vm.formSubmitted || uiForm.company.$touched)" class="help-block">La compañia es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombre</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.name" name="name" placeholder="Nombre.." required>
										<p ng-show="uiForm.name.$error.required && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.monthly_fee.$invalid && ( vm.formSubmitted || uiForm.monthly_fee.$touched) }">
									<label for="input" class="col-sm-4 control-label">Cuota mensual</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.monthly_fee" name="monthly_fee" placeholder="Nombre.." required>
										<p ng-show="uiForm.monthly_fee.$error.required && ( vm.formSubmitted || uiForm.monthly_fee.$touched)" class="help-block">La cuota mensual es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.percentage_extra.$invalid && ( vm.formSubmitted || uiForm.percentage_extra.$touched) }">
									<label for="input" class="col-sm-4 control-label">Porcentaje Extra</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.percentage_extra" name="percentage_extra" placeholder="Apellido.." required>
										<p ng-show="uiForm.percentage_extra.$error.required && ( vm.formSubmitted || uiForm.percentage_extra.$touched)" class="help-block">El apellido es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.percentage_vn.$invalid && ( vm.formSubmitted || uiForm.percentage_vn.$touched) }">
									<label for="input" class="col-sm-4 control-label">Porcentaje por venta</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.percentage_vn" name="percentage_vn" placeholder="Porcentaje por venta.." required>
										<p ng-show="uiForm.percentage_vn.$error.required && ( vm.formSubmitted || uiForm.percentage_vn.$touched)" class="help-block">El porcentaje es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.percentage_rp.$invalid && ( vm.formSubmitted || uiForm.percentage_rp.$touched) }">
									<label for="input" class="col-sm-4 control-label">Porcentaje por renovacion</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.percentage_rp" name="percentage_rp" placeholder="Porcentaje por removacion.." required>
										<p ng-show="uiForm.percentage_rp.$error.required && ( vm.formSubmitted || uiForm.percentage_rp.$touched)" class="help-block">El porcentaje es requerido.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.seller-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Agregar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
