<section class="content-header">
	<h1>Proveedor de Servicio <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.procedure-lists">Listas de Proveedor de Servicio</a></li>
		<li class="active">Agregar nuevo</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Agregar nuevo</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
							<label for="input" class="col-sm-4 control-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.name" name="name" placeholder="Nombre.." required>
								<p ng-show="uiForm.name.$error.required && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es requerido.</p>
							</div>
						</div>
						<div class="form-group">
							<label for="input" class="col-sm-4 control-label">Description</label>
							<div class="col-sm-8">
								<textarea class="form-control" rows="3" ng-model="vm.description" name="description" placeholder="Description"></textarea>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.procedure-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Agregar nuevo</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
