<form ng-submit="vm.login()" method="post" name="vm.loginForm">
	<div class="callout callout-danger" ng-if="vm.loginfailederror">
		<h4>Iniciar Sesión Faile</h4>
		<p>{{ vm.loginfailederror }}</p>
	</div>
	<div class="callout callout-danger" ng-if="vm.loginfailed">
		<h4>Iniciar Sesión Faile</h4>
		<p>Email incorrecto o nombre de usuario o contraseña.</p>
	</div>
	<div class="callout callout-danger" ng-if="vm.unverified">
		<h4>Correo electrónico no verificado</h4>
		<p>Comprueba tu correo electrónico y haz clic en el vínculo de verificación.</p>
	</div>
	<div class="callout callout-success" ng-if="vm.successMsg">
		<h4>Listo!</h4>
		<p>{{ vm.successMsg }}</p>
	</div>
	<div class="form-group has-feedback">
		<input type="email" class="form-control" placeholder="Correo electrónico" name="email" ng-model="vm.email" ng-required="true" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
		<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	</div>
	<div class="form-group has-feedback">
		<input type="password" class="form-control" placeholder="Contraseña" name="password" ng-model="vm.password" ng-required="true">
		<span class="glyphicon glyphicon-lock form-control-feedback"></span>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar sesión</button>
		</div>
	</div>
</form>
<div class="social-auth-links text-center">
	<p>- O -</p>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="text-center">
			<a ui-sref="forgot_password">¿Olvidaste tu contraseña?</a>
		</div>
	</div>
</div>
