<aside class="main-sidebar">
	<section class="sidebar">
		<div class="user-panel">
			<div class="pull-left image">
				<img src="{{vm.userData.avatar}}" class="img-circle" alt="User Image" onError="this.src='/img/user_16.png'">
			</div>
			<div class="pull-left info">
				<p>{{vm.userData.name | capitalize}}</p>
				<a href="javascript:void(0)"><i class="fa fa-circle text-success"></i> En linea</a>
			</div>
		</div>
		<form action="#" method="get" class="sidebar-form">
			<div class="input-group">
				<input type="text" name="q" class="form-control" placeholder="Buscar...">
				<span class="input-group-btn">
					<button type="submit" name="search" id="search-btn" class="btn btn-flat">
						<i class="fa fa-search"></i>
					</button>
				</span>
			</div>
		</form>
		<ul class="sidebar-menu">
			<li class="header">NAVEGACIÓN PRINCIPAL</li>
			<li>
				<a ui-sref='app.landing'>
					<i class="fa fa-dashboard"></i> <span>Tablero</span>
				</a>
			</li>
			<li class="treeview" ng-show="vm.can('manage.users') || vm.can('manage.roles') || vm.can('manage.permissions')">
				<a href="javascript:void(0)">
					<i class="fa fa-cog"></i> <span>Administrador</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li ng-show="vm.can('manage.users')"><a ui-sref='app.user-lists'><i class="fa fa-circle-o"></i> <span>Lista de usuarios</span></a></li>
					<li ng-show="vm.can('manage.roles')"><a ui-sref='app.role-lists'><i class="fa fa-circle-o"></i> <span>Roles del usuario</span></a></li>
					<li ng-show="vm.can('manage.permissions')"><a ui-sref='app.permission-lists'><i class="fa fa-circle-o"></i> <span>Permisos de usuario</span></a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="javascript:void(0)">
					<i class="fa fa-cog"></i> <span>Reception</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref='app.policy-add'><i class="fa fa-circle-o"></i> <span>Nueva Póliza</span></a></li>
					<li><a ui-sref='app.claim-add'><i class="fa fa-circle-o"></i> <span>Nueva Reclamo</span></a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="javascript:void(0)">
					<i class="fa fa-cog"></i> <span>Ventas</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref='app.company-lists'><i class="fa fa-circle-o"></i> <span>Lista de Compañias</span></a></li>
					<li><a ui-sref='app.seller-lists'><i class="fa fa-circle-o"></i> <span>Lista de Vendedores</span></a></li>
					<li><a ui-sref='app.sale-lists'><i class="fa fa-circle-o"></i> <span>Lista de Ventas</span></a></li>
					<li><a ui-sref='app.commission-company-lists'><i class="fa fa-circle-o"></i> <span>Comisiones de compañia</span></a></li>
					<li><a ui-sref='app.commission-seller-lists'><i class="fa fa-circle-o"></i> <span>Comisiones de vendedores</span></a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="javascript:void(0)">
					<i class="fa fa-cog"></i> <span>Servicio al Cliente</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref='app.hospital-lists'><i class="fa fa-circle-o"></i> <span>Lista de Hospitales</span></a></li>
					<li><a ui-sref='app.doctor-lists'><i class="fa fa-circle-o"></i> <span>Lista de Doctores</span></a></li>
					<li><a ui-sref='app.specialty-lists'><i class="fa fa-circle-o"></i> <span>Especialidades Medicas</span></a></li>
				</ul>
			</li>
			<li class="treeview">
				<a href="javascript:void(0)">
					<i class="fa fa-cog"></i> <span>General</span> <i class="fa fa-angle-left pull-right"></i>
				</a>
				<ul class="treeview-menu">
					<li><a ui-sref='app.policies-lists'><i class="fa fa-circle-o"></i> <span>Lista de Pólizas</span></a></li>
					<li><a ui-sref='app.affiliates-lists'><i class="fa fa-circle-o"></i> <span>Lista de Afiliados</span></a></li>
					<li><a ui-sref='app.messenger-lists'><i class="fa fa-circle-o"></i> <span>Lista de Mensajeros</span></a></li>
					<li><a ui-sref='app.procedure-lists'><i class="fa fa-circle-o"></i> <span>Proveedor de Servicio</span></a></li>
				</ul>
			</li>
		</ul>
	</section>
</aside>
