<section class="content-header">
	<h1>Usuarios <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.user-lists">Lista de usuarios</a></li>
		<li class="active">Editar usuario</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Editar usuario</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Nombre</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.rs.data.name" name="name" placeholder="Nombre.." required>
								<p ng-show="uiForm.name.$error.required && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Email</label>
							<div class="col-sm-8">
								<input type="email" class="form-control" ng-model="vm.rs.data.email" name="email" placeholder="Email" required>
								<p ng-show="uiForm.email.$error.required && ( vm.formSubmitted || uiForm.email.$touched)" class="help-block">El email es requerido.</p>
								<p ng-show="uiForm.email.$error.email  && ( vm.formSubmitted || uiForm.email.$touched)" class="help-block">E email no es valido.</p>
							</div>
						</div>
						<div class="page-header">
							<h4>Contraseña <small>( Requiere )</small></h4>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.password.$invalid && ( vm.formSubmitted || uiForm.password.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Contraseña</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" placeholder="Contraseña" name="password" ng-model="vm.rs.data.password" ng-minlength="8" ng-maxlength="50">
								<p ng-show="uiForm.password.$error.required && ( vm.formSubmitted || uiForm.password.$touched)" class="help-block">La contraseña es requerido.</p>
								<p ng-show="uiForm.password.$error.maxlength" class="help-block">La contraseña es demasiado larga.</p>
								<p ng-show="uiForm.password.$invalid &&
								uiForm.password.$error.minlength &&
								uiForm.password.$touched" class="help-block">La contraseña es demasiado corta, por favor ingrese más de 8 caracteres.</p>
								<p ng-show="uiForm.password.$invalid && (vm.formSubmitted || vm.errors.password)" class="help-block">{{vm.errors.password}}</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.password_confirmation.$invalid && ( vm.formSubmitted || uiForm.password_confirmation.$touched) }">
							<label for="inputs" class="col-sm-4 control-label">Confirm Contraseña</label>
							<div class="col-sm-8">
								<input type="password" class="form-control" placeholder="Confirm Contraseña" name="password_confirmation" ng-model="vm.rs.data.password_confirmation" ng-minlength="8" ng-maxlength="50" password-verify="vm.rs.data.password">
								<p ng-show="uiForm.password_confirmation.$error.required &&
								( vm.formSubmitted || uiForm.password_confirmation.$touched)" class="help-block">La confirmacion de la contraseña es requerido.</p>
								<p ng-show="uiForm.password_confirmation.$error.maxlength" class="help-block">La contraseña es demasiado larga.</p>
								<p ng-show="uiForm.password_confirmation.$invalid &&
								uiForm.password_confirmation.$error.minlength &&
								uiForm.password_confirmation.$touched" class="help-block">La contraseña es demasiado corta, por favor ingrese más de 8 caracteres.</p>
								<p ng-show="uiForm.password_confirmation.$invalid && (vm.formSubmitted || vm.errors.password_confirmation)" class="help-block">{{vm.errors.password_confirmation}}</p>
								<p ng-show="uiForm.password_confirmation.$error.passwordVerify && (vm.formSubmitted || uiForm.password_confirmation.$touched)" class="help-block">Contraseña no coincide</p>
							</div>
						</div>
						<div class="page-header">
							<h4>Roles <small>( Requiere )</small></h4>
						</div>
						<div class="form-group">
							<label for="inputs" class="col-sm-4 control-label">Roles</label>
							<div class="col-sm-8">
								<div class="checkbox" ng-repeat="role in vm.ckRoles">
								<label><input type="checkbox" checklist-model="vm.rs.data.role" checklist-value="role.id"> {{role.name}}</label>
								</div>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.user-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
