<section class="content-header">
	<h1>Usuarios <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.user-lists">Listas de usuarios</a></li>
		<li class="active">Editar su cuenta</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Cuenta</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && (vm.formSubmitted || uiForm.name.$touched) }">
							<label for="inputs" class="col-sm-3 control-label">Nombre</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" ng-model="vm.userdata.data.name" name="name" placeholder="Nombre" required>
								<p ng-show="uiForm.name.$error.required && (vm.formSubmitted || uiForm.name.$touched)" class="help-block">El nombre es requerido.</p>
								<p ng-show="uiForm.name.customError" class="help-block">{{uiForm.name.customError}}</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.email.$invalid && (vm.formSubmitted || uiForm.email.$touched) }">
							<label for="inputs" class="col-sm-3 control-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" ng-model="vm.userdata.data.email" name="email" placeholder="Email" required>
								<p ng-show="uiForm.email.$error.required && (vm.formSubmitted || uiForm.email.$touched)" class="help-block">El email es requerido.</p>
								<p ng-show="uiForm.email.$error.email  && (vm.formSubmitted || uiForm.email.$touched)" class="help-block">Este correo no es válido.</p>
								<p ng-show="uiForm.email.customError" class="help-block">{{uiForm.email.customError}}</p>
							</div>
						</div>
						<div class="page-header">
							<h4>Actualizar contraseña <small>( Opcional )</small></h4>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.current_password.$invalid && (vm.formSubmitted || uiForm.current_password.$touched) }">
							<label for="inputs" class="col-sm-3 control-label">Contraseña actual</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" placeholder="Password" name="current_password" ng-model="vm.userdata.data.current_password" ng-minlength="8" ng-maxlength="50" ng-required="vm.userdata.data.new_password">
								<p ng-show="uiForm.current_password.$error.required && (vm.formSubmitted || uiForm.current_password.$touched)" class="help-block">La contraseña es requerido.</p>
								<p ng-show="uiForm.current_password.$error.maxlength" class="help-block">La contraseña es demasiado larga.</p>
								<p ng-show="uiForm.current_password.$invalid &&
								uiForm.current_password.$error.minlength &&
								uiForm.current_password.$touched" class="help-block">La contraseña es demasiado corta, por favor ingrese más de 8 caracteres.</p>
								<p ng-show="uiForm.current_password.$invalid && (vm.formSubmitted || vm.errors.current_password)" class="help-block">{{vm.errors.current_password}}</p>
								<p ng-show="uiForm.current_password.customError" class="help-block">{{uiForm.current_password.customError}}</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.new_password.$invalid && (vm.formSubmitted || uiForm.new_password.$touched) }">
							<label for="inputs" class="col-sm-3 control-label">Nueva contraseña</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" placeholder="Password" name="new_password" ng-model="vm.userdata.data.new_password" ng-minlength="8" ng-maxlength="50" ng-required="vm.userdata.data.current_password">
								<p ng-show="uiForm.new_password.$error.required && (vm.formSubmitted || uiForm.new_password.$touched)" class="help-block">La nueva contraseña es requerido.</p>
								<p ng-show="uiForm.new_password.$error.maxlength" class="help-block">La contraseña es demasiado larga.</p>
								<p ng-show="uiForm.new_password.$invalid &&
								uiForm.new_password.$error.minlength &&
								uiForm.new_password.$touched" class="help-block">La contraseña es demasiado corta, por favor ingrese más de 8 caracteres.</p>
								<p ng-show="uiForm.new_password.$invalid && (vm.formSubmitted || vm.errors.new_password)" class="help-block">{{vm.errors.new_password}}</p>
								<p ng-show="uiForm.new_password.customError" class="help-block">{{uiForm.new_password.customError}}</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.new_password_confirmation.$invalid && (vm.formSubmitted || uiForm.new_password_confirmation.$touched) }">
							<label for="inputs" class="col-sm-3 control-label">Confirmacion de contraseña</label>
							<div class="col-sm-9">
								<input type="password" class="form-control" placeholder="Password" name="new_password_confirmation" ng-model="vm.userdata.data.new_password_confirmation" ng-minlength="8" ng-maxlength="50" ng-required="vm.userdata.data.current_password" password-verify="vm.userdata.data.new_password">
								<p ng-show="uiForm.new_password_confirmation.$error.required &&
								(vm.formSubmitted || uiForm.new_password_confirmation.$touched)" class="help-block">La confirmacion de la contraseña es requerido.</p>
								<p ng-show="uiForm.new_password_confirmation.$error.maxlength" class="help-block">La contraseña es demasiado larga.</p>
								<p ng-show="uiForm.new_password_confirmation.$invalid &&
								uiForm.new_password_confirmation.$error.minlength &&
								uiForm.new_password_confirmation.$touched" class="help-block">La contraseña es demasiado corta, por favor ingrese más de 8 caracteres.</p>
								<p ng-show="uiForm.new_password_confirmation.$invalid && (vm.formSubmitted || vm.errors.new_password_confirmation)" class="help-block">{{vm.errors.new_password_confirmation}}</p>
								<p ng-show="uiForm.new_password_confirmation.$error.passwordVerify && (vm.formSubmitted || uiForm.new_password_confirmation.$touched)" class="help-block">Password Mismatch</p>
								<p ng-show="uiForm.new_password_confirmation.customError" class="help-block">{{uiForm.new_password.customError}}</p>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.userlist" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
