<section class="content-header">
  <h1>Venta <small>Descripcion del modulo aqui.</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
    <li><a ui-sref="app.sale-lists">Listas de ventas</a></li>
    <li class="active">Editar venta</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Venta</h3>
        </div>
        <form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid)" novalidate>
          <div class="box-body">
            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>
            <div class="form-group" ng-class="{ 'has-error': uiForm.company_id.$invalid && ( vm.formSubmitted || uiForm.company_id.$touched) }">
				<label for="input" class="col-sm-4 control-label">Compañia</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="vm.rs.data.company_id" name="company_id" required>
						<option>option 1</option>
					</select>
					<p ng-show="uiForm.company_id.$error.required && ( vm.formSubmitted || uiForm.company_id.$touched)" class="help-block">El Agente es requerido.</p>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': uiForm.agent_id.$invalid && ( vm.formSubmitted || uiForm.agent_id.$touched) }">
				<label for="input" class="col-sm-4 control-label">Agente</label>
				<div class="col-sm-8">
					<select class="form-control" ng-model="vm.rs.data.agent_id" name="agent_id" required>
						<option>option 1</option>
					</select>
					<p ng-show="uiForm.agent_id.$error.required && ( vm.formSubmitted || uiForm.agent_id.$touched)" class="help-block">El Agente es requerido.</p>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': uiForm.amount.$invalid && ( vm.formSubmitted || uiForm.amount.$touched) }">
				<label for="inputEmail3" class="col-sm-2 control-label">Cantidad</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="vm.rs.data.amount" name="amount" placeholder="Cantidad" required>
					<p ng-show="uiForm.amount.$error.required && ( vm.formSubmitted || uiForm.amount.$touched)" class="help-block">La cantidad es requerido.</p>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': uiForm.date_sale.$invalid && ( vm.formSubmitted || uiForm.date_sale.$touched) }">
				<label for="inputEmail3" class="col-sm-2 control-label">Fecha de venta</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="vm.rs.data.date_sale" name="date_sale" placeholder="Fecha de venta" required>
					<p ng-show="uiForm.date_sale.$error.required && ( vm.formSubmitted || uiForm.date_sale.$touched)" class="help-block">La fecha de venta es requerido.</p>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': uiForm.date_payment.$invalid && ( vm.formSubmitted || uiForm.date_payment.$touched) }">
				<label for="inputEmail3" class="col-sm-2 control-label">Fecha de pago</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="vm.rs.data.date_payment" name="date_payment" placeholder="Fecha de pago" required>
					<p ng-show="uiForm.date_payment.$error.required && ( vm.formSubmitted || uiForm.date_payment.$touched)" class="help-block">La fecha de pago es requerido.</p>
				</div>
			</div>
			<div class="form-group" ng-class="{ 'has-error': uiForm.date_confirm.$invalid && ( vm.formSubmitted || uiForm.date_confirm.$touched) }">
				<label for="inputEmail3" class="col-sm-2 control-label">Fecha de confirmación</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" ng-model="vm.rs.data.date_confirm" name="date_confirm" placeholder="Fecha de confirmación" required>
					<p ng-show="uiForm.date_confirm.$error.required && ( vm.formSubmitted || uiForm.date_confirm.$touched)" class="help-block">La fecha de pago es requerido.</p>
				</div>
			</div>
          </div>
          <div class="box-footer">
            <a ui-sref="app.sale-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
            <button type="submit" class="btn btn-primary pull-right">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
