<section class="content-header">
	<h1>Póliza Estatus <small>Descripcion del modulo aqui</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Listas de Póliza y su Estatus</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Listas de Póliza y su Estatus</h3>
				</div>
				<div class="box-body">
					<table 
						datatable="" 
						width="100%" 
						class="table table-striped table-bordered" 
						ng-if="vm.displayTable" 
						dt-options="vm.dtOptions" 
						dt-columns="vm.dtColumns">
					</table>
				</div>
				<div class="box-footer"></div>
			</div>
		</div>
	</div>
</section>
