<section class="content-header">
	<h1>Hospitales<small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li><a ui-sref="app.hospital-lists">Lista de Hospitales</a></li>
		<li class="active">Editar Hospital</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Editar Hospital</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.name.$invalid && ( vm.formSubmitted || uiForm.name.$touched) }">
							<label for="inputEmail3" class="col-sm-4 control-label">Hospital</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" ng-model="vm.rs.data.name" name="name" placeholder="Hospital" required>
								<p ng-show="uiForm.name.$error.required && ( vm.formSubmitted || uiForm.name.$touched)" class="help-block">Hospital is required.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.country.$invalid && ( vm.formSubmitted || uiForm.country.$touched) }">
							<label for="input" class="col-sm-4 control-label">Pais</label>
							<div class="col-sm-8">
								<select class="form-control" name="country" ng-model="vm.rs.data.country" ng-options="country as country.name for country in vm.slCountries track by country.id">
									<option value="">Seleccionar</option>
								</select>
								<p ng-show="uiForm.country.$error.required && ( vm.formSubmitted || uiForm.country.$touched)" class="help-block">El pais es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.state.$invalid && ( vm.formSubmitted || uiForm.state.$touched) }">
							<label for="input" class="col-sm-4 control-label">Estado</label>
							<div class="col-sm-8">
								<select class="form-control" name="state" ng-model="vm.rs.data.state" ng-options="state as state.name for state in vm.slStates track by state.id">
									<option value="">Seleccionar</option>
								</select>
								<p ng-show="uiForm.state.$error.required && ( vm.formSubmitted || uiForm.state.$touched)" class="help-block">El estado es requerido.</p>
							</div>
						</div>
						<div class="form-group" ng-class="{ 'has-error': uiForm.city.$invalid && ( vm.formSubmitted || uiForm.city.$touched) }">
							<label for="input" class="col-sm-4 control-label">Ciudad</label>
							<div class="col-sm-8">
								<select class="form-control" name="city" ng-model="vm.rs.data.city" ng-options="city as city.name for city in vm.slCities track by city.id">
									<option value="">Seleccionar</option>
								</select>
								<p ng-show="uiForm.city.$error.required && ( vm.formSubmitted || uiForm.city.$touched)" class="help-block">La ciudad es requerido.</p>
							</div>
						</div>
						<div class="form-group">
							<label for="input" class="col-sm-4 control-label">Direccion</label>
							<div class="col-sm-8">
								<textarea class="form-control" rows="3" ng-model="vm.rs.data.address" name="address" placeholder="Direccion">{{vm.rs.data.address}}</textarea>
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.hospital-lists" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Actualizar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
