<section class="content-header">
	<h1>Nueva Póliza <small>Descripcion del modulo aqui.</small></h1>
	<ol class="breadcrumb">
		<li><a ui-sref="app.landing"><i class="fa fa-dashboard"></i> Inicio</a></li>
		<li class="active">Nueva Póliza</li>
	</ol>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<div class="box box-primary">
				<div class="box-header with-border">
					<h3 class="box-title">Datos de la Póliza</h3>
				</div>
				<form class="form-horizontal" name="uiForm" ng-submit="vm.save(uiForm.$valid, uiForm)" novalidate>
					<div class="box-body">
						<div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
							<h4>{{alert.title}}</h4>
							<p>{{alert.msg}}</p>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.first_name.$invalid && ( vm.formSubmitted || uiForm.first_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Nombre</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.first_name" name="first_name" placeholder="Nombre.." required>
										<p ng-show="uiForm.first_name.$error.required && ( vm.formSubmitted || uiForm.first_name.$touched)" class="help-block">El nombre es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.last_name.$invalid && ( vm.formSubmitted || uiForm.last_name.$touched) }">
									<label for="input" class="col-sm-4 control-label">Apellido</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.last_name" name="last_name" placeholder="Apellido.." required>
										<p ng-show="uiForm.last_name.$error.required && ( vm.formSubmitted || uiForm.last_name.$touched)" class="help-block">El apellido es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.dni.$invalid && ( vm.formSubmitted || uiForm.dni.$touched) }">
									<label for="input" class="col-sm-4 control-label">Identificacion</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.dni" name="dni" placeholder="Identificacion.." required>
										<p ng-show="uiForm.dni.$error.required && ( vm.formSubmitted || uiForm.dni.$touched)" class="help-block">La Identificacion es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.email.$invalid && ( vm.formSubmitted || uiForm.email.$touched) }">
									<label for="input" class="col-sm-4 control-label">Correo Electrónico</label>
									<div class="col-sm-8">
										<input type="email" class="form-control" ng-model="vm.email" name="email" placeholder="Correo Electrónico.." required>
										<p ng-show="uiForm.email.$error.required && ( vm.formSubmitted || uiForm.email.$touched)" class="help-block">El Correo Electrónico es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.phone.$invalid && ( vm.formSubmitted || uiForm.phone.$touched) }">
									<label for="input" class="col-sm-4 control-label">Teléfono Hab.</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.phone" name="phone" placeholder="Teléfono Hab.." required>
										<p ng-show="uiForm.phone.$error.required && ( vm.formSubmitted || uiForm.phone.$touched)" class="help-block">El Teléfono Hab es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.mobile.$invalid && ( vm.formSubmitted || uiForm.mobile.$touched) }">
									<label for="input" class="col-sm-4 control-label">Teléfono Hab.</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" ng-model="vm.mobile" name="mobile" placeholder="Teléfono Cel.." required>
										<p ng-show="uiForm.mobile.$error.required && ( vm.formSubmitted || uiForm.mobile.$touched)" class="help-block">El Teléfono Cel es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.seller_id.$invalid && ( vm.formSubmitted || uiForm.seller_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Agente de venta</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="vm.seller_id" name="seller_id" required>
											<option value="6">option 1</option>
										</select>
										<p ng-show="uiForm.seller_id.$error.required && ( vm.formSubmitted || uiForm.seller_id.$touched)" class="help-block">El Agente es requerido.</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-6">
								<div class="form-group" ng-class="{ 'has-error': uiForm.plan_type_id.$invalid && ( vm.formSubmitted || uiForm.plan_type_id.$touched) }">
									<label for="input" class="col-sm-4 control-label">Plan</label>
									<div class="col-sm-8">
										<select class="form-control" ng-model="vm.plan_type_id" name="plan_type_id" required>
											<option value="1">option 1</option>
										</select>
										<p ng-show="uiForm.plan_type_id.$error.required && ( vm.formSubmitted || uiForm.plan_type_id.$touched)" class="help-block">El Plan es requerido.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<h4>Upload on file select</h4>
								<button type="file" ngf-select="vm.uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB"> Select File</button>
								<br><br>
								File:
								<div style="font:smaller">{{vm.f.name}} {{vm.errFile.name}} {{vm.errFile.$error}} {{vm.errFile.$errorParam}}
									<span class="progress" ng-show="vm.f.progress >= 0">
										<div style="width:{{vm.f.progress}}%" ng-bind="vm.f.progress + '%'"></div>
									</span>
								</div>     
								{{vm.errorMsg}}
							</div>
						</div>
					</div>
					<div class="box-footer">
						<a ui-sref="app.landing" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Atrás</a>
						<button type="submit" class="btn btn-primary pull-right">Agregar nueva póliza</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
