<header class="main-header">
	<a href="/" class="logo">
		<span class="logo-mini"><b>A</b>LT</span>
		<span class="logo-lg"><b>GB</b>LTE</span>
	</a>
	<nav class="navbar navbar-static-top">
		<a href="javascript:void(0)" class="sidebar-toggle" data-toggle="offcanvas" role="button">
			<span class="sr-only">Toggle navigation</span>
		</a>
		<div class="navbar-custom-menu">
			<ul class="nav navbar-nav">
				<li class="dropdown user user-menu" uib-dropdown>
					<a href="" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>
						<img src="{{vm.userData.avatar}}" class="user-image" alt="User Image" onError="this.src='/img/user_16.png'">
						<span class="hidden-xs">{{vm.userData.name | capitalize}}</span>
					</a>
					<ul class="dropdown-menu" uib-dropdown-menu>
						<li class="user-header">
							<img src="{{vm.userData.avatar}}" class="img-circle" alt="Avatar" onError="this.src='/img/user_32.png'">
							<p>
							{{vm.userData.name | capitalize}}
							<small>Member since {{vm.userData.created_at | datemillis |date:'MMMM yyyy' }}</small>
							</p>
						</li>
						<li class="user-footer">
							<div class="pull-left">
								<a ui-sref="app.profile" class="btn btn-default btn-flat">Perfil</a>
							</div>
							<div class="pull-right">
								<a ui-sref="app.logout" class="btn btn-default btn-flat">Cerrar sesión</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</header>
